.i-floorfilter {
  box-sizing: border-box;
}

.i-floorfilter .i-floorfilter-levels-container {
  display: block;
}

.i-floorfilter ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  max-height: 30vh;
  overflow-y: auto;
}

.i-floorfilter ul > li {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.i-floorfilter button {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0.3rem;
  width: auto;
  min-width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.833rem;
}

.i-floorfilter .i-floorfilter-location {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url(images/location.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.i-floorfilter button.i-floorfilter-level {
  display: block;
}

.i-floorfilter .i-floorfilter-facilities-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.2rem;
  -webkit-transition: all 0.6s ease;
}

.i-floorfilter .i-floorfilter-facilities-container.i-floorfilter-hidden {
  display: none;
}

.i-floorfilter select.i-floorfilter-facilities {
  display: inline-block;
  margin: 0;
  padding: 0.4rem 1.4rem 0.4rem 0.8rem;
  font-weight: 700;
  width: auto;
	max-width: 100%;
  height: 2rem;
  vertical-align: middle;
	box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.i-floorfilter button.i-floor-filter-clear {
  vertical-align: middle;
}

.i-floorfilter button:disabled {
  display: none;
}

.i-floorfilter select.i-floorfilter-facilities option {
	font-weight: normal;
}

.i-floorfilter button,
.i-floorfilter select.i-floorfilter-facilities {
  color: #4c4c4c;
  background-color: #ffffff;
}

.i-floorfilter button.i-floorfilter-active {
  color: #ffffff;
  background-color: #005e95;
}

.i-floorfilter button,
.i-floorfilter select.i-floorfilter-facilities {
  border-bottom: 1px solid #dfdfdf;
}
